<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>je suis un gros titre</h1>
    <p>
      je suis un paragraphe. Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. Mollitia, adipisci? Eum voluptatem rem error animi iusto omnis
      corrupti non vel quisquam dolor quaerat, quos ipsum ex asperiores
      repellendus odit eveniet.
    </p>
    <!-- Moi je suis un paragraphe. Personne ne me verra-->
  </body>
</html>
